/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  text-align: start;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 50px;
  height: 50px;
}

header nav ul li img {
  width: 20px;
}

header nav ul li a:hover {
  color: #b1663c;
}

section {
  margin: 100px 0 150px 0;
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 11px;
  font-weight: 400;
  padding-top: 5px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0px 20px;
  font-size: 1.2em;
  margin-top: 5px;
}

#introduction {
  display: flex;
  align-items: center;
  padding: 0px 42px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 474px;
  height: 355px;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-left: 23px;
}

#introduction p {
  margin: 30px 79px 0px 25px;
}

#portfolio {
  padding: 0px 92px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#portfolio h2 {
  margin: 1em;
}

#portfolio button {
  font-family: "Syne";
  color: #1d6154;
  border: 1px solid #1d6154;
  background-color: white;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  padding: 5px 20px 5px 20px;
  margin-right: 10px;
  font-size: large;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#portfolio button:hover {
  color: white;
  background-color: #1d6154;
}

#filters {
  width: 100%;
}

.button-active {
  color: white !important;
  background-color: #1d6154 !important;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 200px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Après être connecté */

.edition {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pEdition {
  color: white;
}

.square {
  color: white;
  margin-right: 10px;
}

.pModal {
  cursor: pointer;
}

/* Mise en forme modal */

.containerModals {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.347);
}

.modalWorks {
  top: 5%;
  background-color: whitesmoke;
  width: 45%;
  height: 93%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: 25%;
}

.modalWorks h2 {
  color: black;
  font-size: x-large;
  font-weight: normal;
  font-family: inherit;
}

.modalWorks button {
  bottom: 15px;
  font-family: "Syne";
  font-weight: 700;
  padding: 7px;
  color: white;
  border: none;
  background-color: #1d6154;
  position: relative;
  width: 200px;
  border-radius: 60px;
  cursor: pointer;
}

.fa-xmark {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: large;
}

.worksModal {
  width: 80%;
  height: 65%;
  display: flex;
  left: 25px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: 10px;
}

.worksModal figure {
  width: 16%;
  height: 32%;
  position: relative;
}

.worksModal figure span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  height: 15px;
  width: 15px;
}

.worksModal figure span i {
  cursor: pointer;
  font-size: smaller;
  font-size: 9px;
  color: white;
}

.worksModal figure img {
  width: 100%;
  height: 85%;
}

.ligne {
  width: 71%;
  border: 1px solid lightgray;
  position: relative;
  bottom: 20px;
}

/* Mise en forme deuxième Modale */

.containerAddPhotoModals {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.347);
}

.modalPhoto {
  top: 5%;
  background-color: whitesmoke;
  width: 45%;
  height: 93%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: 25%;
}

.fa-arrow-left {
  position: absolute;
  font-size: x-large;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.modalPhoto h2 {
  color: black;
  font-weight: normal;
  font-family: inherit;
  font-size: x-large;
  position: relative;
  bottom: 15px;
}

.modalPhoto button {
  bottom: 15px;
  font-family: "Syne";
  font-weight: 700;
  padding: 7px;
  color: white;
  border: none;
  background-color: #1d6154;
  position: relative;
  width: 200px;
  border-radius: 60px;
  cursor: pointer;
}

.photoModal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 70%;
  background-color: lightblue;
  align-items: center;
  position: relative;
  bottom: 10px;
  height: 30%;
  border-radius: 3px;
}

#fileInput{
  display: none;
}

.photoModal input {
  background-color: #929eb6;
  color: #4f658f;
  width: 160px;
}

.fa-image {
  font-size: -webkit-xxx-large;
  position: relative;
  color: #929eb6;
  bottom: 30px;
}

.fa-plus {
  margin-right: 5px;
}

.formPhotoModal {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 70%;
  position: relative;
  bottom: 30px;
}

.formPhotoModal label {
  margin: 2em 0 1em 0;
}

.formPhotoModal input {
  height: 50px;
  font-size: 1.2em;
  padding-left: 10px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#selectCategories{
  height: 50px;
  font-size: 1.2em;
  padding-left: 5px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}